<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Monchis Log</a>
        <a class="navbar-brand" href="/buscar">Buscar</a>
        <a class="navbar-brand" href="/comidas/">Monchis</a>
        <a class="navbar-brand" href="/postear/">Agregar Monchi</a>
        <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
        <a class="btn btn-primary" href="{% url 'signup' %}">Crear Cuenta</a>
    </div>
</nav>