<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <a class="navbar-brand" href="{% url 'about_us' %}">About Us</a>
        <a class="navbar-brand" href="{% url 'Buscar' %}">Buscar</a>
        <a class="navbar-brand" href="{% url 'ListaPosteos' %}">Monchis</a>
        <a class="navbar-brand" href="{% url 'Postear' %}">Agregar Monchi</a>

        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'Profile' %}"><h5>Bienvenid@ {{ user.get_username }}</h5></a>
        <img style="height: 60px" src="{{ user.avatar.imagen.url }}" alt="">
        <form method="post" action="{% url 'Logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>

        {% else %}

        <a class="btn btn-primary" href="{% url 'Login' %}">Iniciar Sesión</a>
        <a class="btn btn-primary" href="{% url 'Signup' %}">Crear Cuenta</a>
        {% endif %}
    </div>
</nav>