{% extends 'base.html' %}
{% block cambio %}
<body>

<style>
    body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
            text-align: center;
        }
        header {
            text-align: center;
            padding: 20px;
            background-color: #f4f4f4;
            text-align: center;

        }
        section {
            max-width: 800px;
            margin: 0 auto;
            text-align: center;
        }
</style>
    <header>
        <h1>Acerca de Nosotros</h1>
    </header>

    <section>
        <h2>Nuestra Historia</h2>
        <p>Cuando tres amigos son buenos pal diente comienza una ruta de peregrinación en búsqueda de las mejores picadas de la ciudad.</p>
        <p>En el vibrante mundo de la gastronomía, tres amigos con un amor compartido por la buena comida y una pasión por descubrir los tesoros culinarios de la ciudad decidieron unir fuerzas. Con paladares exigentes y una curiosidad insaciable, emprendieron una emocionante ruta de peregrinación en busca de las mejores picadas y sabores auténticos que la ciudad tiene para ofrecer.</p>
        <p>A lo largo de su travesía, estos amigos han explorado callejones ocultos, mercados bulliciosos y rincones secretos, siempre en busca de experiencias gastronómicas únicas. Han compartido risas, anécdotas y momentos inolvidables mientras saboreaban cada bocado, creando no solo una lista de lugares favoritos, sino también una colección de historias que narran su viaje culinario.</p>
        <p>Este blog nace de la pasión por la comida, la amistad y la búsqueda constante de placeres gastronómicos. Aquí, te invitamos a unirte a nosotros en este viaje lleno de sabores, aromas y descubrimientos culinarios. Explora con nosotros las picadas más auténticas, las recetas más deliciosas y las experiencias que hacen que cada comida sea única.</p>
        <p>Bienvenido a nuestro rincón gastronómico, donde cada plato cuenta una historia y cada historia nos acerca un poco más a la esencia culinaria de nuestra querida ciudad. ¡Acompáñanos en esta deliciosa travesía!</p>

        <h2>Equipo</h2>

            <p>Wayo, con su gusto refinado y amor por la cocina tradicional, aporta un toque de autenticidad a nuestras exploraciones culinarias. Su habilidad para apreciar los detalles y su curiosidad insaciable nos inspiran a buscar experiencias únicas y sabores auténticos.</p>
            <p>Zitro, el aventurero del grupo, siempre está listo para probar algo nuevo y emocionante. Con su entusiasmo contagioso, nos lleva a descubrir picadas escondidas, food trucks innovadores y platillos creativos que despiertan nuestros sentidos.</p>
            <p>Sucked, el crítico gastronómico entre nosotros, analiza cada bocado con agudeza y honestidad. Su habilidad para discernir sabores y texturas nos ayuda a perfeccionar nuestras elecciones y a compartir las mejores recomendaciones con nuestra audiencia.</p>

    </section>

</body>
</html>
{% endblock %}